body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("votter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
}

.card {
    margin-bottom: 20px;
    border: none
}

.heading{
    
    color:	#89CFF0;
}


.boxup{
    background: #0867f5;
}

.box {
    width: 430px;
    padding: 40px;
    position: absolute;

    background: #343a40;
    border-radius: 10px;
    text-align: center;
    transition: 0.25s;
    margin-top:40px;
   
}

.box input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0867f5;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #0867f5
}




/* Admin log in*/
.need{
    color: white;
}

.box1 {
    width: 460px;
  
    
   
   
   
    text-align: center;
    transition: 0.25s;
  
    
}

.box1 input[type="text"],
.box1 input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box1 h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box1 input[type="text"]:focus,
.box1 input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box1 input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0867f5;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box1 input[type="submit"]:hover {
    background: #0867f5
}
